<nav aria-label="breadcrumb">
  <ul>
    <li>Home</li>
  </ul>
</nav>

<h1>Homepage</h1>

<ul>
              <li>
              <a href="/plays">
                Plays
              </a>
            </li>
            <li>
              <a href="/playbooks">
                Playbooks
              </a>
            </li>
            <li>
              <a href="/playsheets">
                Playsheets
              </a>
            </li>
             <li>
              <a href="/formations">
                Formations
              </a>
            </li>
             <li>
              <a href="/formation_sets">
                Formation Sets
              </a>
            </li>      
</ul>
