<h1>
  List of all concepts
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new concept
    </h2>
  </header>

  <form action="/insert_concept" method="post">
    <div>
      <label for="name_box">
        Name
      </label>

      <input type="text" id="name_box" name="query_name">
    </div>

    <div>
      <label for="description_box">
        Description
      </label>

      <input type="text" id="description_box" name="query_description">
    </div>

    <div>
      <label for="side_of_ball_box">
        Side of ball
      </label>

      <input type="text" id="side_of_ball_box" name="query_side_of_ball">
    </div>

    <button type="submit">
      Create concept
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_concepts.each do |a_concept| %>
      <li>
        <a href="/concepts/<%= a_concept.id %>">
          Concept #<%= a_concept.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
